<a href="https://colab.research.google.com/github/kulraj97/ML-Practise/blob/main/stochastic_gradient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [102]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [166]:
dt=pd.read_csv("/content/gdrive/MyDrive/Fish.csv")

In [167]:
dt.sample(3)

   Species  Weight  Length1  Length2  Length3   Height   Width
48   Roach   169.0     22.0     24.0     27.2   7.5344  3.8352
22   Bream   620.0     31.5     34.5     39.7  15.5227  5.2801
76   Perch    70.0     15.7     17.4     18.5   4.5880  2.9415

In [174]:
dt=dt.drop(["Species"],axis=1)

In [175]:
dt.sample(3)

     Weight  Length1  Length2  Length3  Height   Width
152     9.9     11.3     11.8     13.1  2.2139  1.1659
50    200.0     22.1     23.5     26.8  7.3968  4.1272
73     32.0     12.5     13.7     14.7  3.5280  1.9992

In [176]:
x=dt.drop(["Weight"],axis=1)
y=dt["Weight"]

In [177]:
dt.isnull().sum()

Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [183]:
y=y.reshape(-1,1)
y.shape

(159, 1)

In [185]:
from sklearn.model_selection import train_test_split

In [186]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=0)

In [112]:
#X=x_train.values.reshape(-1,1)
#Y=y_train.values.reshape(-1,1)

In [187]:
from sklearn.linear_model import LinearRegression

In [188]:
lr=LinearRegression()

In [189]:
x_train.shape,y_train.shape

((127, 5), (127, 1))

In [193]:
#x_test=x_test.values.reshape(-1,1)

x_test.shape

(32, 5)

In [191]:
lr.fit(x_train,y_train)

LinearRegression()

In [234]:
lr.coef_,lr.intercept_

(array([[ 80.38246172, -23.91313616, -31.52808371,  32.21045103,
          24.0330976 ]]), array([-446.11739948]))

In [194]:
y_pred=lr.predict(x_test)
y_pred.shape

(32, 1)

In [202]:
y_test.shape

(32, 1)

In [249]:
from sklearn.metrics import r2_score as score

In [204]:
score(y_test,y_pred)

0.8632643733814437

In [213]:
y_test.shape,y_pred.shape

((32, 1), (32, 1))

In [242]:
from sklearn.linear_model import SGDRegressor

In [253]:
reg = SGDRegressor(max_iter=1000,learning_rate='constant',eta0=0.001)

In [254]:
reg.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDRegressor(eta0=0.001, learning_rate='constant')

In [255]:
x_train.shape,y_train.shape,x_test.shape

((127, 5), (127, 1), (32, 5))

In [256]:
y_pred=reg.predict(x_test)

In [252]:
score(y_test,y_pred)

-3.3809519474228986e+21